# 4장. 파이썬 기초 

## 파이썬을 계산기로 사용해보자.

수식을 입력해보자.

In [2]:
1+1

2

In [3]:
(10+20)*30/40

22.5

In [4]:
10+20

30

메뉴에서 'Insert Cell Below' 를 선택해서 셀을 추가한 다음에 수식을 넣고, 실행을 해보자.

## 변수 (Variable) 

- 변수는 '무엇인가' 를 저장하는 저장소라고 생각하면 된다. 
- '무엇인가' 는 숫자, 글자, 기타 데이터 등 여러가지가 될 수 있음.

In [2]:
a=1
b=1
c = a+b

a의 값을 살펴보고 싶으면...

In [3]:
a

1

b의 값을 살펴보고 싶으면...

In [4]:
b

1

In [5]:
c

2

In [5]:
a * c

2

글자를 저장하는 것도 가능하다. 컴퓨터 언에서 보통 글자는 '문자열' 혹은 '스트링' (String) 이라고 부른다. 
글자는 작은 따옴표 혹은 큰 따옴표로 구분한다.

In [10]:
d = "Python"
e = " is good" 

#문자열끼리 더하기를 하면 문자열이 연결된다 

f = d + e

In [11]:
f

'Python is good'

In [12]:
print (f)

Python is good

'='는 '같다'가 아니라 변수에 데이터를 넣는 기호이다. 
a = 'this is good' 

a에 'this is good'을 넣는다.

In [13]:
a='this is good'
a

'this is good'

'문자열' 은 서열 정보를 저장하는데도 사용할 수 있다. 
다음 예를 본다면...

In [14]:
sequence = "ACGTACGTAG"
print (sequence)

ACGTACGTAG

문자열끼리 '더하기' 를 하면 두 개의 서열이 이어진다.

In [15]:
sequence2 = "GGATCCGT"
new_sequence = sequence + sequence2
print (new_sequence)

ACGTACGTAGGGATCCGT

만약 이들을 각각의 위치별의 글자로 읽으려면 어떻게 해야 하나? 
문자열의 일부에 접근하려면 대괄호 '[]' 와 숫자를 이용한다.

In [17]:
new_sequence[0]

'A'

In [18]:
new_sequence[1]

'C'

대괄호 안의 숫자를 바꾸어 보자. 
첫번째 항목은 0 으로부터 시작한다.

여러 개의 항목을 접근하려면 [시작위치:끝위치] 형식으로 숫자를 이용한다.

In [19]:
new_sequence[0:2]

'AC'

In [20]:
new_sequence[0:10]

'ACGTACGTAG'

만약 세번째부터 끝까지의 서열에 접근하고 싶다면?

In [21]:
#0,1,2....
new_sequence[2:]

'TACGTAGGGATCCGT'

세번째까지의 서열을 알고 싶다면...

In [23]:
new_sequence[:3]

'ACG'

In [24]:
#끝에서 3글자 빼기

new_sequence[:-3]

'ACGTACGTAGGGATC'

## 리스트 (LIST) 

- 여러 개의 데이터를 저장할 때 사용한다. 
- 대괄호와 쉼표로 여러 개의 데이터를 구분하여 저장한다. 
- 숫자, 쉼표, 다른 변수 등등 여러 종류의 데이터를 저장 가능하다.

In [7]:
even = [2,4,6,8,10,12]
odd = [1,3,5,7,9]
even

[2, 4, 6, 8, 10, 12]

In [8]:
odd

[1, 3, 5, 7, 9]

In [9]:
string_list = ['one', 'two','three','four','five']
string_list

['one', 'two', 'three', 'four', 'five']

리스트의 항목도 문자열 안의 글자와 비슷하게 참조할 수 있다.

In [10]:
string_list[0]

'one'

In [11]:
string_list[4]

'five'

In [12]:
odd[0]

1

리스트의 항목 일부도 마찬가지로 억세스할 수 있다. 
string_list의 첫번째에서 세번째 항목까지 억세스하려면?

In [15]:
string_list[0:3]

['one', 'two', 'three']

두 개의 리스트를 더할 수도 있다.

In [16]:
number = even + odd

In [17]:
number

[2, 4, 6, 8, 10, 12, 1, 3, 5, 7, 9]

하나를 추가하고 싶다고 하자. '100'

In [18]:
number.append(100)

In [19]:
number

[2, 4, 6, 8, 10, 12, 1, 3, 5, 7, 9, 100]

In [39]:
string_list.append('six')

In [40]:
string_list

['one', 'two', 'three', 'four', 'five', 'six']

In [41]:
number

[2, 4, 6, 8, 10, 12, 1, 3, 5, 7, 9, 100]

number라는 리스트에 있는 내용을 숫자별로 정렬하고 싶다면?

In [42]:
number.sort()

In [43]:
number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 100]

문자열도 소트가 가능하다

In [44]:
string_list.append('aaaaaa')

In [45]:
string_list

['one', 'two', 'three', 'four', 'five', 'six', 'aaaaaa']

In [46]:
string_list.sort()
string_list

['aaaaaa', 'five', 'four', 'one', 'six', 'three', 'two']

리스트에 있는 내용을 바꾸고 싶다면? 
가령 두번째의 'five'를 'FIVE'로 바꾸고 싶다고 하자.

In [47]:
string_list[1]

'five'

In [48]:
string_list[1]='FIVE'

In [49]:
string_list

['aaaaaa', 'FIVE', 'four', 'one', 'six', 'three', 'two']

In [50]:
del string_list[1]

In [51]:
string_list

['aaaaaa', 'four', 'one', 'six', 'three', 'two']

## 딕셔너리 (Dictionary)  

- 서로 관계가 있는 데이터를 저장하고 싶다고 하자. 
- Elephant, Animal
- Sunflower, Plant
- E.coli, Microbe
- Human, Animal
- Rice, Plant 

- 이러한 관계를 어떻게 저장할 것인가?

In [53]:
organism = {'Elephant':'Animal','Sunflower':'Plant','E.coli':'Microbe','Human':'Animal','Rice':'Plant'}

딕셔너리에서 앞의 내용을 '키' (Key)라고 하고 뒤의 내용을 '값' (Value)라고 한다. 
하나의 딕셔너리에서는 키의 값은 고유한 값이어야 한다.

In [54]:
organism

{'Elephant': 'Animal',
 'Sunflower': 'Plant',
 'E.coli': 'Microbe',
 'Human': 'Animal',
 'Rice': 'Plant'}

In [55]:
#키를 이용하여 값을 알아낸다. 

organism['E.coli']

'Microbe'

In [56]:
organism['Rice']

'Plant'

딕셔너리에 새로운 데이터를 넣고 싶을 경우
딕셔너리['키'] = '값'

In [57]:
organism['Dog']='Animal'
organism

{'Elephant': 'Animal',
 'Sunflower': 'Plant',
 'E.coli': 'Microbe',
 'Human': 'Animal',
 'Rice': 'Plant',
 'Dog': 'Animal'}

In [59]:
organism['Dog'] = 'Humans best friends'

In [60]:
organism

{'Elephant': 'Animal',
 'Sunflower': 'Plant',
 'E.coli': 'Microbe',
 'Human': 'Animal',
 'Rice': 'Plant',
 'Dog': 'Humans best friends'}

딕셔너리에는 동일한 키 값이 두 개 이상 존재할 수 없다.

In [ ]:
딕셔너리의 키 값을 보고 싶다면?

In [62]:
organism.keys()

dict_keys(['Elephant', 'Sunflower', 'E.coli', 'Human', 'Rice', 'Dog'])

In [63]:
organism.values()

dict_values(['Animal', 'Plant', 'Microbe', 'Animal', 'Plant', 'Humans best friends'])

## 튜플 (Tuple)  

- 튜플은 리스트와 거의 비슷하나 하나의 차이가 있다.

In [64]:
list = [1,2,3,4]
tuple = (1,2,3,4)

In [65]:
list

[1, 2, 3, 4]

In [66]:
tuple

(1, 2, 3, 4)

In [67]:
list[0] = 100
list

[100, 2, 3, 4]

In [68]:
tuple[0]=100

TypeError: 'tuple' object does not support item assignment

리스트는 값을 추가하거나 바꿀 수 있지만, 튜플은 바꿀 수 없다. 
튜플은 한번 넣어두면 바뀌지 않는 값을 여러 개 저장할 때 사용한다.

In [69]:
base = ('A','C','G','T')

## 지금까지 파이썬에서 어떻게 자료를 저장하는지 배웠음. 

- 변수 
- 리스트 
- 딕셔너리
- 튜플
- 문자열

## 조건과 반복

컴퓨터 프로그래밍의 가장 기본적인 두 가지 요소 

- 반복 
- 조건 판단 

리스트에 들어 있는 여러 값을 하나씩 꺼내서 살펴보는 과정을 보자.

In [7]:
test_list = ['권은비', '미야와키 사쿠라', '강혜원', '최예나', '이채연', '김채원', '김민주', '야부키 나코', '혼다 히토미', '조유리', '안유진', '장원영']

In [8]:
for member in test_list:
    print (member)

권은비
미야와키 사쿠라
강혜원
최예나
이채연
김채원
김민주
야부키 나코
혼다 히토미
조유리
안유진
장원영

파이썬에서는 반복문이나 조건문 내에서 수행되는 라인을 구분하기 위하여 '들여쓰기' 를 한다. 
뭔 말이냐면...다음과 같은 코드를 입력하면..

In [11]:
#에러 발생
for member in test_list:
print (member)

IndentationError: expected an indented block (<ipython-input-11-044f31795d4e>, line 2)

In [14]:
#수정됨
for member in test_list:
    print (member)

권은비
미야와키 사쿠라
강혜원
최예나
이채연
김채원
김민주
야부키 나코
혼다 히토미
조유리
안유진
장원영

In [15]:
for member in test_list:
    #반복문 안의 문장들은 들여쓰기 (Tab) 레벨이 같아야 한다. 
    print (member)
        print ("..")

IndentationError: unexpected indent (<ipython-input-15-1c328a6c1689>, line 4)

# range 

일정한 숫자를 이용하여 반복을 한다.

In [9]:
for i in range(12):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11

In [10]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

for 문은 중첩 가능하다

In [74]:
for x in range (1,10):
    for y in range(1,10):
        print (x,y)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

구구단?

In [75]:
for x in range (1,10):
    for y in range(1,10):
        print (x,y,x*y)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

1부터 5까지만 계산하려면 어떻게 코드를 고쳐야 할까?

In [78]:
for x in range (1,10):
    for y in range(1,10):
        print (x)
        print (x,y,x*y)

1
1 1 1
1
1 2 2
1
1 3 3
1
1 4 4
1
1 5 5
1
1 6 6
1
1 7 7
1
1 8 8
1
1 9 9
2
2 1 2
2
2 2 4
2
2 3 6
2
2 4 8
2
2 5 10
2
2 6 12
2
2 7 14
2
2 8 16
2
2 9 18
3
3 1 3
3
3 2 6
3
3 3 9
3
3 4 12
3
3 5 15
3
3 6 18
3
3 7 21
3
3 8 24
3
3 9 27
4
4 1 4
4
4 2 8
4
4 3 12
4
4 4 16
4
4 5 20
4
4 6 24
4
4 7 28
4
4 8 32
4
4 9 36
5
5 1 5
5
5 2 10
5
5 3 15
5
5 4 20
5
5 5 25
5
5 6 30
5
5 7 35
5
5 8 40
5
5 9 45
6
6 1 6
6
6 2 12
6
6 3 18
6
6 4 24
6
6 5 30
6
6 6 36
6
6 7 42
6
6 8 48
6
6 9 54
7
7 1 7
7
7 2 14
7
7 3 21
7
7 4 28
7
7 5 35
7
7 6 42
7
7 7 49
7
7 8 56
7
7 9 63
8
8 1 8
8
8 2 16
8
8 3 24
8
8 4 32
8
8 5 40
8
8 6 48
8
8 7 56
8
8 8 64
8
8 9 72
9
9 1 9
9
9 2 18
9
9 3 27
9
9 4 36
9
9 5 45
9
9 6 54
9
9 7 63
9
9 8 72
9
9 9 81

## 조건문 if 

컴퓨터 언어의 기본은 판단 
구구단의 결과 중에서 50 보다 큰 값만 출력하고 싶다면?

In [16]:
for x in range (1,10):
    for y in range(1,10):
        #만약 x와 y를 곱한 값이 50보다 크면 
        if x*y>50:
            #x,y, 그리고 x*y 값을 출력해라 
            print (x,y,x*y)

6 9 54
7 8 56
7 9 63
8 7 56
8 8 64
8 9 72
9 6 54
9 7 63
9 8 72
9 9 81

#조건문과 딕셔너리를 결합

In [20]:
#모 걸그룹의 멤버와 출생년도를 딕셔너리 형태로 저장한다. 

izone = {'권은비':1995, 
         '미야와키 사쿠라':1998, 
         '강혜원':1999, 
         '최예나':1999, 
         '이채연':2000, 
         '김채원':2000, 
         '김민주':2001, 
         '야부키 나코':2001, 
         '혼다 히토미':2001, 
         '조유리':2001, 
         '안유진':2003, 
         '장원영':2004}

#딕셔너리의 키와 값들을 하나씩 훑어본다. 
for key,value in izone.items():
    print (key,value)

권은비 1995
미야와키 사쿠라 1998
강혜원 1999
최예나 1999
이채연 2000
김채원 2000
김민주 2001
야부키 나코 2001
혼다 히토미 2001
조유리 2001
안유진 2003
장원영 2004

2000년생 이전 멤버만 출력하고 싶다면?

In [82]:
#딕셔너리의 key(멤버 이름)와 value(나이)를 불러온다. 

for key,value in izone.items():
    if value<2000:
        print (key,value)

권은비 1995
미야와키 사쿠라 1998
강혜원 1999
최예나 1999

'야부키 나코' 보다 동생만 출력하고 싶다면?

In [83]:
#nako라는 변수에 '야부키 나코'의 나이를 저장하고 

nako=izone['야부키 나코']
nako

2001

In [85]:
for key,value in izone.items():
    if nako<value:
        print (key,value)

안유진 2003
장원영 2004

## if..else

만약...이면 이걸 하고 아니면 저걸 한다.

In [94]:
for key,value in izone.items():
    if nako<value:
        print (key+" 동생")
    else:
        print (key+" 동갑 아니면 언니")

권은비 동갑 아니면 언니
미야와키 사쿠라 동갑 아니면 언니
강혜원 동갑 아니면 언니
최예나 동갑 아니면 언니
이채연 동갑 아니면 언니
김채원 동갑 아니면 언니
김민주 동갑 아니면 언니
야부키 나코 동갑 아니면 언니
혼다 히토미 동갑 아니면 언니
조유리 동갑 아니면 언니
안유진 동생
장원영 동생

만약 조건 A면 (if) A를 하고 만약 조건 B면 (elif) B를 하고..이도저도 아니면 (else) C를 한다

for key,value in izone.items():
    if nako<value:
        print (key+" 동생")
    elif nako==value:
        print (key+" 동갑")
    else:
        print (key+" 언니")

## 연습문제 

'미야와키 사쿠라' (혹은 아무 멤버와) 다른 모든 멤버와의 나이를 출력해보자.

In [ ]:
#아래 스크립트를 고쳐서...

izone = {'권은비':1995, 
         '미야와키 사쿠라':1998, 
         '강혜원':1999, 
         '최예나':1999, 
         '이채연':2000, 
         '김채원':2000, 
         '김민주':2001, 
         '야부키 나코':2001, 
         '혼다 히토미':2001, 
         '조유리':2001, 
         '안유진':2003, 
         '장원영':2004}

#미야와키 사쿠라의 이름을 'OnePick'이라는 변수에 저장하고 
OnePick = '미야와키 사쿠라'

#미야와키 사쿠라의 나이를 딕셔너리에서 불러온다. 
OnePickYear = izone[OnePick]

In [24]:
for key,value in izone.items():
    #여기서 다음 출력이 나오려면 어떻게 입력해야 할까?

권은비 와 미야와키 사쿠라 나이 차는 3
미야와키 사쿠라 와 미야와키 사쿠라 나이 차는 0
강혜원 와 미야와키 사쿠라 나이 차는 1
최예나 와 미야와키 사쿠라 나이 차는 1
이채연 와 미야와키 사쿠라 나이 차는 2
김채원 와 미야와키 사쿠라 나이 차는 2
김민주 와 미야와키 사쿠라 나이 차는 3
야부키 나코 와 미야와키 사쿠라 나이 차는 3
혼다 히토미 와 미야와키 사쿠라 나이 차는 3
조유리 와 미야와키 사쿠라 나이 차는 3
안유진 와 미야와키 사쿠라 나이 차는 5
장원영 와 미야와키 사쿠라 나이 차는 6

덕질은 그만하고...
이제 좀 연구에 가까운 것을 해보자 (...)

In [17]:
seq="""MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLMLSPDDIEQWFTEDPGPDEAPRMPEAAPPVAPAPAAPTPAAPAPAPSWPLSSSVPSQKTYQGSYGFRLGFLHSGTAKSVTCTYSPALNKMFCQLAKTCPVQLWVDSTPPPGTRVRAMAIYKQSQHMTEVVRRCPHHERCSDSDGLAPPQHLIRVEGNLRVEYLDDRNTFRHSVVVPYEPPEVGSDCTTIHYNYMCNSSCMGGMNRRPILTIITLEDSSGNLLGRNSFEVRVCACPGRDRRTEEENLRKKGEPHHELPPGSTKRALPNNTSSSPQPKKKPLDGEYFTLQIRGRERFEMFRELNEALELKDAQAGKEPGGSRAHSSHLKSKKGQSTSRHKKLMFKTEGPDSD"""

In [8]:
seq

'MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLMLSPDDIEQWFTEDPGPDEAPRMPEAAPPVAPAPAAPTPAAPAPAPSWPLSSSVPSQKTYQGSYGFRLGFLHSGTAKSVTCTYSPALNKMFCQLAKTCPVQLWVDSTPPPGTRVRAMAIYKQSQHMTEVVRRCPHHERCSDSDGLAPPQHLIRVEGNLRVEYLDDRNTFRHSVVVPYEPPEVGSDCTTIHYNYMCNSSCMGGMNRRPILTIITLEDSSGNLLGRNSFEVRVCACPGRDRRTEEENLRKKGEPHHELPPGSTKRALPNNTSSSPQPKKKPLDGEYFTLQIRGRERFEMFRELNEALELKDAQAGKEPGGSRAHSSHLKSKKGQSTSRHKKLMFKTEGPDSD'

이 아미노산의 길이는?

In [9]:
len(seq)

393

이 단백질의 분자량을 계산해 보자. 
각각의 아미노산의 분자량을 딕셔너리로 저장하고...

In [10]:
MW = {'G':57.05,
      'A':71.09,
      'S':87.08,
      'T':101.11,
      'C':103.15,
      'V':99.14,
      'L':113.16,
      'I':113.16,
      'M':131.19,
      'P':97.12,
      'F':147.18,
      'Y':163.18,
      'W':186.21,
      'D':115.09,
      'E':129.12,
      'N':114.11,
      'Q':128.14,
      'H':137.14,
      'K':128.17,
      'R':156.19}

In [11]:
MW['A']

71.09

In [12]:
MW['K']

128.17

단백질 서열을 처음부터 한 글자씩 읽은 다음, 이것을 딕셔너리에서 찾는다. 
찾는 숫자를 다 더한다.

In [13]:
for aa in seq:
    print(aa)

M
E
E
P
Q
S
D
P
S
V
E
P
P
L
S
Q
E
T
F
S
D
L
W
K
L
L
P
E
N
N
V
L
S
P
L
P
S
Q
A
M
D
D
L
M
L
S
P
D
D
I
E
Q
W
F
T
E
D
P
G
P
D
E
A
P
R
M
P
E
A
A
P
P
V
A
P
A
P
A
A
P
T
P
A
A
P
A
P
A
P
S
W
P
L
S
S
S
V
P
S
Q
K
T
Y
Q
G
S
Y
G
F
R
L
G
F
L
H
S
G
T
A
K
S
V
T
C
T
Y
S
P
A
L
N
K
M
F
C
Q
L
A
K
T
C
P
V
Q
L
W
V
D
S
T
P
P
P
G
T
R
V
R
A
M
A
I
Y
K
Q
S
Q
H
M
T
E
V
V
R
R
C
P
H
H
E
R
C
S
D
S
D
G
L
A
P
P
Q
H
L
I
R
V
E
G
N
L
R
V
E
Y
L
D
D
R
N
T
F
R
H
S
V
V
V
P
Y
E
P
P
E
V
G
S
D
C
T
T
I
H
Y
N
Y
M
C
N
S
S
C
M
G
G
M
N
R
R
P
I
L
T
I
I
T
L
E
D
S
S
G
N
L
L
G
R
N
S
F
E
V
R
V
C
A
C
P
G
R
D
R
R
T
E
E
E
N
L
R
K
K
G
E
P
H
H
E
L
P
P
G
S
T
K
R
A
L
P
N
N
T
S
S
S
P
Q
P
K
K
K
P
L
D
G
E
Y
F
T
L
Q
I
R
G
R
E
R
F
E
M
F
R
E
L
N
E
A
L
E
L
K
D
A
Q
A
G
K
E
P
G
G
S
R
A
H
S
S
H
L
K
S
K
K
G
Q
S
T
S
R
H
K
K
L
M
F
K
T
E
G
P
D
S
D

In [117]:
for aa in seq:
    print (MW[aa])

131.19
129.12
129.12
97.12
128.14
87.08
115.09
97.12
87.08
99.14
129.12
97.12
97.12
113.16
87.08
128.14
129.12
101.11
147.18
87.08
115.09
113.16
186.21
128.17
113.16
113.16
97.12
129.12
114.11
114.11
99.14
113.16
87.08
97.12
113.16
97.12
87.08
128.14
71.09
131.19
115.09
115.09
113.16
131.19
113.16
87.08
97.12
115.09
115.09
113.16
129.12
128.14
186.21
147.18
101.11
129.12
115.09
97.12
57.05
97.12
115.09
129.12
71.09
97.12
156.19
131.19
97.12
129.12
71.09
71.09
97.12
97.12
99.14
71.09
97.12
71.09
97.12
71.09
71.09
97.12
101.11
97.12
71.09
71.09
97.12
71.09
97.12
71.09
97.12
87.08
186.21
97.12
113.16
87.08
87.08
87.08
99.14
97.12
87.08
128.14
128.17
101.11
163.18
128.14
57.05
87.08
163.18
57.05
147.18
156.19
113.16
57.05
147.18
113.16
137.14
87.08
57.05
101.11
71.09
128.17
87.08
99.14
101.11
103.15
101.11
163.18
87.08
97.12
71.09
113.16
114.11
128.17
131.19
147.18
103.15
128.14
113.16
71.09
128.17
101.11
103.15
97.12
99.14
128.14
113.16
186.21
99.14
115.09
87.08
101.11
97.12
97.12
97.12
57.05
101.11
156.19
99.14
156.19
71.09
131.19
71.09
113.16
163.18
128.17
128.14
87.08
128.14
137.14
131.19
101.11
129.12
99.14
99.14
156.19
156.19
103.15
97.12
137.14
137.14
129.12
156.19
103.15
87.08
115.09
87.08
115.09
57.05
113.16
71.09
97.12
97.12
128.14
137.14
113.16
113.16
156.19
99.14
129.12
57.05
114.11
113.16
156.19
99.14
129.12
163.18
113.16
115.09
115.09
156.19
114.11
101.11
147.18
156.19
137.14
87.08
99.14
99.14
99.14
97.12
163.18
129.12
97.12
97.12
129.12
99.14
57.05
87.08
115.09
103.15
101.11
101.11
113.16
137.14
163.18
114.11
163.18
131.19
103.15
114.11
87.08
87.08
103.15
131.19
57.05
57.05
131.19
114.11
156.19
156.19
97.12
113.16
113.16
101.11
113.16
113.16
101.11
113.16
129.12
115.09
87.08
87.08
57.05
114.11
113.16
113.16
57.05
156.19
114.11
87.08
147.18
129.12
99.14
156.19
99.14
103.15
71.09
103.15
97.12
57.05
156.19
115.09
156.19
156.19
101.11
129.12
129.12
129.12
114.11
113.16
156.19
128.17
128.17
57.05
129.12
97.12
137.14
137.14
129.12
113.16
97.12
97.12
57.05
87.08
101.11
128.17
156.19
71.09
113.16
97.12
114.11
114.11
101.11
87.08
87.08
87.08
97.12
128.14
97.12
128.17
128.17
128.17
97.12
113.16
115.09
57.05
129.12
163.18
147.18
101.11
113.16
128.14
113.16
156.19
57.05
156.19
129.12
156.19
147.18
129.12
131.19
147.18
156.19
129.12
113.16
114.11
129.12
71.09
113.16
129.12
113.16
128.17
115.09
71.09
128.14
71.09
57.05
128.17
129.12
97.12
57.05
57.05
87.08
156.19
71.09
137.14
87.08
87.08
137.14
113.16
128.17
87.08
128.17
128.17
57.05
128.14
87.08
101.11
87.08
156.19
137.14
128.17
128.17
113.16
131.19
147.18
128.17
101.11
129.12
57.05
97.12
115.09
87.08
115.09

어떻게 이 숫자를 더할 것인가?

In [14]:
molecular_weight=0
for aa in seq:
    molecular_weight=molecular_weight+MW[aa]
#
#   molecular_weight+=molecular_weight 와 같이 써도 된다 
#
print (molecular_weight)

43636.37000000006

In [15]:
molecular_weight

43636.37000000006

### 연습문제

각각의 아미노산과 분자량을 같이 표시해보자.  

Q 128.14

S 87.08

T 101.11

S 87.08

R 156.19

H 137.14

K 128.17

K 128.17

L 113.16

M 131.19

F 147.18

Total  43636.37000000006

이런 출력이 나오도록 위의 스크립트를 고쳐 보자.

In [ ]:
# 파일 읽기 및 쓰기 
텍스트 파일을 다루는 것 역시 파이썬에서 쉽게 할 수 있다.